body {
  background-color: #964b00;
  background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
  position: relative;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-family: 'Franklin', Arial, sans-serif;
  font-weight: bold; /* or 700 */
}

body::before,
body::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 80px; /* Adjust thickness as needed */
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
  z-index: 9999;
}

body::before {
  left: 0;
}

body::after {
  right: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #964b00;
  background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Franklin';
  src: url('./fonts/Franklin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
